In [1]:
print(123123123123123123123123123123 + 1)

123123123123123123123123123124

In [2]:
print (10)
print (type(10))

10
<class 'int'>

In [4]:
print(4.2)
print(type(4.2))

print(4.)
print(type(4.))

print(.2)
print(type(.2))

print(.4e7)
print(type(.4e7))

print(4.2e-4)
print(type(4.2e-4))

4.2
<class 'float'>
4.0
<class 'float'>
0.2
<class 'float'>
4000000.0
<class 'float'>
0.00042
<class 'float'>

In [7]:
print("Hacktiv8")
print(type("Hacktiv8"))

print('')

print ("This string contains a single quote (') character.")
print ('This string contains a single quote (") character.')

Hacktiv8
<class 'str'>

This string contains a single quote (') character.
This string contains a single quote (") character.

In [8]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [11]:
n=300
print(n)

n

300

300

In [12]:
a = b = c = 300
print (a,b,c)

300 300 300

In [13]:
var = 23.5
print(var)

var = "Now i'm string"
print(var)

23.5
Now i'm string

In [15]:
name = "Andrian Siasa Rifqi"
Age = 31
has_laptop = True
print(name,Age,has_laptop)

Andrian Siasa Rifqi 31 True

In [16]:
9_kepala_naga = True

SyntaxError: invalid decimal literal (<ipython-input-16-737512de54da>, line 1)

In [17]:
age = 1
Age = 2
aGe = 3
AGe = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print (age,Age,aGe,AGe,a_g_e,_age,age_,_AGE_)

1 2 3 4 5 6 7 8

In [18]:
a = 10
b = 20
a+b

30

In [20]:
a = 10
b = 20
a + b - 50

-20

In [22]:
a = 4
b = 3
print (a+b)
print (a-b)
print (a*b)
print (a/b)
print (a%b)
print (a ** b)
print (a // b)

7
1
12
1.3333333333333333
1
64
1

In [23]:
a = 10
b = 5

print (a/b)

2.0

In [24]:
a = 10
b = 20
print (a == b)
print (a != b)
print (a <= b)
print (a >= b)

False
True
True
False

In [25]:
a = 30
b = 30
print (a == b)
print (a != b)
print (a <= b)
print (a >= b)

True
False
True
True

In [27]:
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)
print(s + t + u)
print('Hacktiv8 ' + 'PTP')

foobar
foobarbaz
Hacktiv8 PTP

In [30]:
# * operator
s = 'foo.'
s*4

'foo.foo.foo.foo.'

In [29]:
#in operator
s = 'foo'
print (s in 'That food for us')
print (s in 'That good for us')

True
False

In [32]:
# Case Conversion
s = 'HackTIV8'

#Capitalize
print(s.capitalize())

#Lower
print(s.lower())

#Swapcase
print(s.swapcase())

#Title
print(s.title())

#Upper
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

In [33]:
#Python List

a = ['foor' , 'bar' , 'baz' , 'qux']
print (a)

['foor', 'bar', 'baz', 'qux']

In [34]:
#list are Ordered

a = ['foo' , 'bar' , 'baz' , 'qux']
b = ['qux' , 'bar' , 'foo' , 'baz']

a==b

False

In [35]:
#List can contain arbitary objects

a = [21.42 , 'foobar' , 3 , 4 , 'bark' , False , 3.14159]
print (a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

In [39]:
a = ['foo' , 'bar' , 'baz' , 'qux' , 'quux' , 'corge']
print (a[0])
print (a[5])
print (a[-6])
print (a[-3])

foo
corge
foo
qux

In [40]:
a = ['foo' , 'bar' , 'baz' , 'qux' , 'quux' , 'corge']

a[2:5]

['baz', 'qux', 'quux']

In [41]:
a = ['foo' , 'bar' , 'baz' , 'qux' , 'quux' , 'corge']

print (a)
print (a + ['grault' , 'garply'])
print (a*2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [42]:
a = ['foo' , 'bar' , 'baz' , 'qux' , 'quux' , 'corge']

print (a)
print (len(a))
print (max(a))
print (min(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
qux
bar

In [44]:
a = ['foo' , 'bar' , 'baz' , 'qux' , 'quux' , 'corge']

print (a)
a[2] =  10
a[-1] = 20

print (a)

del a[3]

print (a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]
['foo', 'bar', 10, 'quux', 20]

In [45]:
a = ['foo' , 'bar' , 'baz' , 'qux' , 'quux' , 'corge']

print (a[1:4])

a[1:4] = [1.1 , 2.2 , 3.3 , 4.4 , 5.5]

print (a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

In [49]:
t = ('foo' , 'bar' , 'baz' , 'qux' , 'quux' , 'corge')

print (t)
print (t[0])
print (t[-1])

(s1 , s2 , s3 , s4) = ('foo' , 'bar' , 'baz' , 'qux')
s3

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
foo
corge

'baz'

In [58]:
MLB_team = {
    'Colorado' : 'Rookies',
    'Boston' : 'Red Sox',
    'Minnesota' : 'Twins',
    'Milwaukee' : 'Brewers',
    'Seattle' : 'Mariners'
}

print (MLB_team['Milwaukee'])
print (MLB_team['Seattle'])

MLB_team['Kansas City'] = 'Royals'
MLB_team

MLB_team['Seattle'] = 'Seahawks'
MLB_team

del MLB_team['Boston']
MLB_team

Brewers
Mariners

{'Colorado': 'Rookies',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [65]:
person = {}
type(person)

person['fname'] = 'Andrian'
person['lname'] = 'Siasa Rifqi'
person['age'] = 31
person['spouse'] = 'Dwi'
person['children'] = ['Ceisya' , 'Bashirah' , 'Ivy']
person['pets'] = {'dog': 'Spike' , 'cat': 'Tom'}

person

print(person['pets'])
print(person['spouse'])

print(person['children'])
print(person['children'][1])

print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Spike', 'cat': 'Tom'}
Dwi
['Ceisya', 'Bashirah', 'Ivy']
Bashirah
{'dog': 'Spike', 'cat': 'Tom'}
Tom

In [66]:
d = {'a':10 , 'b':20 , 'c':30}

print(d.items())
print(d.keys())
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

In [67]:
person1_age = 31
person2_age = 44
person3_age = 55

someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <=65)
    or (person2_age >= 18 and person2_age <=65)
    or (person3_age >= 18 and person3_age <=65)
)

someone_is_of_working_age

True